@model IEnumerable<WardrobeApp.Models.Shoe>

@{
    ViewBag.Title = "Index";
}



<div class="row title">
    <h2 class="title">Shoes</h2>
</div>
<p class="center-link">
    @*@Html.ActionLink("Create New", "Create")*@
    <a class="btn btn-default item-index" href="/Shoes/Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6 col-lg-1-xs-12">
            <div class="thumbnail">
                <h3 class="item-name">
                    @Html.DisplayFor(modelItem => item.ShoeName)
                </h3>
                <p class="home">
                    <img class="item-photo" src="@Html.DisplayFor(modelItem => item.ShoePhoto)" /><br />

                    @Html.ActionLink("Details", "Details", new { id = item.ShoeID }, new { @class = "nonnav-link" })
                </p>
            </div>
        </div>
    }
</div>
