body {
    background-image: url('images/pexels-photo-237900.jpeg');
    /*background-repeat: no-repeat;*/
    background-size: 100vw;
    background-attachment: fixed;
}
p#footer {
    color: #ffdfcb;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}